@charset "utf-8";
$personalization-container-background: var(--bo-base-background);
$personalization-container-font-family: var(--bo-font-family);
$personalization-container-font-size: $font-size__base;
$personalization-label-text-color: var(--bo-text-color);
